*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1f1f1f6e;
    width: 100%;
    height: 100vh;
    .title{
        font-size: 60px;
        font-weight: 600;
    }
    .dineroContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 300px;
            gap: 10px;
            .billetes{
                display: flex;
                background: white;
                
                label{
                    padding: 20px;
                    border: 2px solid black;
                }
            }
            .monedas{
                display: flex;
                background: white;
                label{
                    padding: 20px;
                    border: 2px solid black;
                }
            }
            .total{
                font-size: 40px;
                font-weight: 600;
            }
        

    }
    .entregado{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 300px;
        gap: 10px;
        .billetes{
            display: flex;
            background: white;
            
            label{
                padding: 20px;
                border: 2px solid black;
            }
        }
        .monedas{
            display: flex;
            background: white;
            label{
                padding: 20px;
                border: 2px solid black;
            }
        }

    

}
}