<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba 1</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <p class="title">Cajero automático</p>
    <div class="dineroContainer">
        <div class="billetes">
            <label for="" id="valor1">Billetes de $500: </label>
            <label for="" id="valor2">Billetes de $200: </label>
            <label for="" id="valor3">Billetes de $100: </label>
            <label for="" id="valor4">Billetes de $50: </label>
            <label for="" id="valor5">Billetes de $20: </label>
            <label for="" id="valor6">Billetes de $10: </label>
            <label for="" id="valor7">Billetes de $5: </label>
            <label for="" id="valor8">Billetes de $2: </label>
        </div>
        <div class="monedas">
            <label for="" id="valor9">Monedas de $1: </label>
            <label for="" id="valor10">Monedas de $0.5: </label>
            <label for="" id="valor11">Monedas de $0.2: </label>
            <label for="" id="valor12">Monedas de $0.1: </label>
            <label for="" id="valor13">Monedas de $0.05: </label>
            <label for="" id="valor14">Monedas de $0.02: </label>
            <label for="" id="valor15">Monedas de $0.01: </label>
        </div>
        <div class="total">
            <label for="" id="valor16">El total es: </label>
        </div>
    </div>

    <div class="retirar">
        <input type="text" name="valor" id="monto">
        <input type="button" value="Retirar" onclick="retirar()">
    </div>

    <div class="entregado">
        <div class="billetes">
            <label for="" id="entregado1">Billetes de $500: </label>
            <label for="" id="entregado2">Billetes de $200: </label>
            <label for="" id="entregado3">Billetes de $100: </label>
            <label for="" id="entregado4">Billetes de $50: </label>
            <label for="" id="entregado5">Billetes de $20: </label>
            <label for="" id="entregado6">Billetes de $10: </label>
            <label for="" id="entregado7">Billetes de $5: </label>
            <label for="" id="entregado8">Billetes de $2: </label>
        </div>
        <div class="monedas">
            <label for="" id="entregado9">Monedas de $1: </label>
            <label for="" id="entregado10">Monedas de $0.5: </label>
            <label for="" id="entregado11">Monedas de $0.2: </label>
            <label for="" id="entregado12">Monedas de $0.1: </label>
            <label for="" id="entregado13">Monedas de $0.05: </label>
            <label for="" id="entregado14">Monedas de $0.02: </label>
            <label for="" id="entregado15">Monedas de $0.01: </label>
        </div>
    </div>
</body>
<script src="../scripts/index.js"></script>

</html>